@model ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post" asp-action="ChangePassword">
    <div>
        
        <div class="form-floating mb-3">
            <input asp-for="UserName" class="form-control" id="floatingInput" readonly>
            <label  for="floatingInput">Username</label>
        </div>
       
        
        <div class="form-floating mb-3">
            <input type="password" asp-for="OldPassword" class="form-control bg-light" id="floatingPassword" 
                placeholder="Password" autocomplete="off" >
            <label for="floatingPassword">Old Password</label>
            <span asp-validation-for="OldPassword" class="text-danger"></span>

        </div>
        
        
        <div class="form-floating mb-3">
            <input asp-for="NewPassword" type="password" class="form-control" id="floatingPassword" 
                placeholder="New Password" autocomplete="off">
            <label for="floatingPassword">New Password</label>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="floatingPassword"
                   placeholder="New Password" autocomplete="off">
            <label for="floatingPassword">New Password</label>
        </div>
        <div class="row">
            <div class="col mb-3">
                <button type="submit" class="btn btn-primary">Change Password</button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Cancel</a>
            </div>
        </div>

    </div>
</form>